apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ basename }}-admin-api"
  namespace: "{{ namespace }}"
spec:
  replicas: {{ admin_api.replicas | int }}
  selector:
    matchLabels:
      app: "{{ basename }}-admin-api"
  template:
    metadata:
      labels:
        app: "{{ basename }}-admin-api"
        prometheus: nodejs
    spec:      
      initContainers:
      #We need to run this with a diffrent user so we can start the main image as nobody:nobody
      - name: "{{ basename }}-prisma-migrate" 
        image: "registry1.redcatsnordic.ad:5000/{{ basename }}-admin-api:{{ version }}" 
        command: ["/bin/bash"]
        args: ["-c", "pnpm prisma migrate deploy"]
        env:
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: opencms-database-url
              key: database_url
        securityContext:
          runAsUser: 1000
          runAsGroup: 1000
          fsGroup: 1000
      containers:
      - name: "{{ basename }}-admin-api"
        image: "registry1.redcatsnordic.ad:5000/{{ basename }}-admin-api:{{ version }}"
        resources:
          requests:
            cpu: "{{ admin_api.resources.requests.cpu }}"
            memory: "{{ admin_api.resources.requests.memory }}"
        securityContext:
          allowPrivilegeEscalation: false
        ports:
        - containerPort: {{ admin_api.port | int }}
          name: web
        volumeMounts:
        - mountPath: "/data"
          name: "opencms"
        env:
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: opencms-database-url
              key: database_url              
        - name: UPLOAD_DIR
          value: {{ upload_dir }}
        - name: PORT
          value: "{{ node_port }}"
        - name: AUTH_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: opencms-auth-client-id
              key: auth_client_id
        - name: AUTH_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: opencms-auth-client-secret
              key: auth_client_secret
        - name: AUTH_TENANT_ID
          valueFrom:
            secretKeyRef:
              name: opencms-auth-tenant-id
              key: auth_tenant_id
        securityContext:
          runAsUser: 65534
          runAsGroup: 65534
          fsGroup: 65534

      volumes:
      - name: opencms
        persistentVolumeClaim:
            claimName: pvc-opencms
        #readinessProbe:
        #  httpGet:
        #    path: /health/readiness
        #    port: {{ admin_api.port }}
        #  initialDelaySeconds: 30
        #  timeoutSeconds: 10
        #  periodSeconds: 10
        #livenessProbe:
        #  httpGet:
        #    path: /health/liveness
        #    port: {{ admin_api.port }}
        #  initialDelaySeconds: 30
        #  timeoutSeconds: 10
        #  periodSeconds: 30